.holder {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-1 {
	background-color: red;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

div {
	display: flex;
}